.container {
    margin-left: auto;
    margin-right: auto;
    width: 1224px;
}
a {
    font-family: lato;
    font-size: x-large;
    color: #9D364F;
    text-decoration: none;
    text-align: center;
    font-family: lato;
    float: right;
    padding-right: 5%;
    padding-top: 4%;
}
.logo {
    padding-top: 1%;
    margin-left: 3%;
}

.headerBox {
    background-color: #F9BEB8;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
}
.heroBox {
    background-color: #F9F8F7;
    height: 800px;
}
.heroImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 5%;
}
button {
    font-family: lato;
    color: black;
    background-color: #B5F9FD;
    margin-top: 5%;
}
.texas {
    text-align: right;
    padding-inline-end: 5%;
}
.footerBox {
    background-color: #F9BEB8;
    height: 300px;
}
a2 {
    font-family: lato;
    font-size: x-large;
    color: #9D364F;
    text-decoration: none;
    text-align: center;
    font-family: lato;
    float: right;
    padding-right: 5%;
}
.aboutBox {
    background-color: #F9F8F7;
    height: 400px;
}
.skillsBox {
    background-color: #F9F8F7;
    height: 400px;
}
.workBox {
    background-color: #F9F8F7;
    height: auto;
}
.image-grid {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}
.vimg {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
}
h7 {
    font-size: large;
    font-family: lato;
    text-align: center;
}
p2 {
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.vtext {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
}
.timg {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
}
.himg {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
}
.uimg {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    text-align: center;
}
h1 {
    font-family: lato;
    text-align: center;
    font-size: x-large;
    padding-top: 1%;
}
h2 {
    font-family: lato;
    text-align: left; 
    font-size: x-large; 
    padding-left: 5%;
    padding-top: 5%;
    color: #9D364F;
}
p1 {
    font-family: open-sans;
    text-align: right;
    font-size: large;
    padding-left: 5%;
    color: #9D364F;
}
h3 {
    font-family: lato;
    text-align: left; 
    font-size: large; 
    color: #9D364F;
    padding-top: 2%;
    padding-left: 5%;
}
h4 {
    font-family: lato;
    text-align: left; 
    font-size: large; 
    color: #9D364F;
    padding-left: 5%; 
}
h5 {
    font-family: lato;
    text-align: left; 
    font-size: large; 
    color: #9D364F;
    padding-left: 5%;
}
h6 {
    font-family: lato;
    text-align: left; 
    font-size: large; 
    color: #9D364F;
    padding-left: 5%;
}