.container {
    margin-left: auto;
    margin-right: auto;
    width: 1224px;
}
a {
    font-family: lato;
    font-size: x-large;
    color: #9D364F;
    text-decoration: none;
    text-align: center;
    font-family: lato;
    float: right;
    padding-right: 5%;
    padding-top: 4%;
}
.logo {
    padding-top: 1%;
    margin-left: 3%;
}
.heroImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 5%;
}
.headerBox {
    background-color: #F9BEB8;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
}
.heroBox {
    background-color: #F9F8F7;
    height: 800px;
}
.footerBox {
    background-color: #F9BEB8;
    height: 300px;
}
a2 {
    font-family: lato;
    font-size: x-large;
    color: #9D364F;
    text-decoration: none;
    text-align: center;
    font-family: lato;
    float: right;
    padding-right: 5%;
}
.aboutBox {
    background-color: #F9F8F7;
    height: 400px;
}
.skillsBox {
    background-color: #F9F8F7;
    height: 400px;
}
.workBox {
    background-color: #F9F8F7;
    height: 400px;
}
h1 {
    font-family: lato;
    text-align: center;
    font-size: x-large;
    padding-top: 1%;
}
h2 {
    font-family: lato;
    text-align: left; 
    font-size: x-large; 
    padding-left: 5%;
    padding-top: 5%;
    color: #9D364F;
}
p1 {
    font-family: open-sans;
    text-align: right;
    font-size: large;
    padding-left: 5%;
    color: #9D364F;
}
button {
    font-family: lato;
    color: black;
    background-color: #B5F9FD;
    margin-left: 45%;
    margin-top: 5%;
   
}
h3 {
    font-family: lato;
    text-align: left; 
    font-size: large; 
    color: #9D364F;
    padding-top: 2%;
    padding-left: 5%;
}
h4 {
    font-family: lato;
    text-align: left; 
    font-size: large; 
    color: #9D364F;
    padding-left: 5%; 
}
h5 {
    font-family: lato;
    text-align: left; 
    font-size: large; 
    color: #9D364F;
    padding-left: 5%;
}
h6 {
    font-family: lato;
    text-align: left; 
    font-size: large; 
    color: #9D364F;
    padding-left: 5%;
}